$grey: #868E96;

.product {
 background: black;
 border-radius: 0px;
 margin: 0px;
 .jumbo {
  text-align: center;
  color: white;
  padding: 150px 10px 75px;
  text-transform: uppercase;
  .title {
   letter-spacing: 0.3rem;
   font-weight: 600;
  }
  .intro {
   font-size: 0.7rem;
   letter-spacing: 2px;
   color: rgba(white,0.4);
   font-weight: 500;
   margin: 10px 5px 60px;
  }
  .image {
   margin: 10px;
   border-radius: 2px;
   border-top: 1px solid var(--oc-gray-0);
   box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
   width: 100%;
   max-width: 500px;
   @media (max-width: 750px) {
    width: 80%;
    margin: 0px 30px;
   }
  }
 }
}
.block {
 color: black;
 background: white;
 padding: 100px 10px;
 justify-content: space-between;
 text-align: center;
 box-shadow: 0px -1px 0px rgba(0,0,0,0.05);
 .title {
  color: black;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 5px auto;
 }
 .intro {
  color: $grey;
  letter-spacing: 0.2px;
  font-size: 0.8rem;
 }
}