.landing {
  z-index: -1;
}

.jumbotron {
 background: none;
 padding-top: 15vh;
 padding-bottom: 5vh;
 @media (max-width: 400px) {
  padding-top: 80px;
  margin-bottom:0px; 
 }

 .currentBKC {
   background-color: black;
   color: white;
   display: inline;
   padding: 0px 10px;
   transition: .3s background-color ease-in-out;
 }
 h1 {
  font-weight: 600;
  font-size: 3.5rem;
  color: #000;
  text-transform: capitalize;
 }
 p {
  padding-top: 3vh;
  font-size: 1.3rem;
  opacity: 0.6;
 }
  @media (max-width: 768px) {
    text-align: left;
    h1 {
      font-size: 3rem;  
    }
    p {
      font-size: 1.2rem;
    }
  }
}
.get-blockchains {
  margin: auto;
  text-align: center;
  padding: 30px;
  .col {
    padding: 5px;
  }
  .item{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.1);
    transition: 1s transform ease-in-out, .2s color ease-in-out;
    background: white;
    &.active {
      box-shadow: 0px 0px 40px -3px rgba(0,0,0,0.15);
      transform: scale(0.95) translateY(0px);
      cursor: pointer;
      z-index: 22;
    }
    &:focus{
      transform: scale(0.9);
    }
    &:hover{
      z-index: 2;
      box-shadow: 0px 0px 40px -3px rgba(0,0,0,0.15);
      transition: .1s transform ease-in-out;
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
}